.section#contacto
    .container-fluid
        .row.sub-section
            .offset-lg-1.col-lg-4.text-contacto.text-lg-left.mt-auto.mb-auto
                h2.title.text-gradient-secondary Contacto
                h3.contacto-titulo ¿Tienes un proyecto en mente?
                h4.contacto-texto ¡Contáctanos y lo haremos realidad!
                .texto.sub-texto <i class="fas fa-phone"></i> 
                    span.contacto-texto +593-967348636
                .texto.sub-texto.pb-3 <i class="fas fa-envelope"></i> 
                    span.contacto-texto agenciacreativaqmart@gmail.com
                .texto.sub-texto.mt-4.mb-4.pb-4
                    a(href="https://www.facebook.com/Qmart-Estudio-Creativo-305249326980754/?modal=admin_todo_tour" target="_blank") <i class="fab fa-facebook-square"></i>
                    span.ml-2: a(href="https://www.instagram.com/estudioqmart/" target="_blank") <i class="fab fa-instagram"></i>
            .col-lg-7.contact
                .container-img
                    img(src="img/contacto2.svg", alt="").img-fluid.img-contact
                .form-contact.text-white
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="texto-contacto" for="inputEmail4">Nombre</label>
                                <input type="text" class="form-control" id="inputName4">
                            </div>
                            <div class="form-group col-md-6">
                            <label class="texto-contacto" for="inputPassword4">E-mail</label>
                            <input type="email" class="form-control" id="inputEmail4">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="texto-contacto" for="inputEmail4">Teléfono</label>
                                <input type="text" class="form-control" id="inputName4">
                            </div>
                            <div class="form-group col-md-6">
                            <label class="texto-contacto" for="inputPassword4">Asunto</label>
                            <input type="text" class="form-control" id="inputEmail4">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label class="texto-contacto" for="inputEmail4">Mensaje</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
                            </div>
                        </div>
                        .text-center
                            button.btn.btn-raised.btn-lg.btn-gradient-section
                                    span.btn-text Enviar ff
                    </form>