.container-fluid
  .section        
    h5.text-center.font-weight-bold ¿Qué nos diferencia?
    h2.title.text-center.text-gradient-secondary ¿Por qué elegirnos?
    .container.sub-section 
      .row.text-center
          .col-md-4
            <div class="card">
              <div class="card-body">
                span.font-awesome-icon
                  img(src="./img/potenciamos-tu-marca.svg", alt="cohete despegando, branding Guayaquil").img-fluid
                  h4.text-elegirnos.orange.font-weight-bold Potenciamos tu marca
                p.text-justify La 
                  span.font-weight-bold marca 
                  |es el espiritú de un negocio, 
                  span.font-weight-bold su identidad. 
                p.text-justify.pb-2 Nos encargamos de 
                  span.font-weight-bold posicionar y potenciar 
                  |tú marca en los medios digitales. 
                  span.font-weight-bold Hacemos 
                  |que tus 
                  span.font-weight-bold clientes 
                  |te encuentren y te 
                  span.font-weight-bold prefieran.
              </div>
            </div>  
          .col-md-4
            <div class="card mb-4 pb-4">
              <div class="card-body">
                span.font-awesome-icon
                  img(src="./img/construimos-tu-marca.svg", alt="construcción de cohete espacial, construcción de marca, branding Guayaquil").img-fluid
                  h4.text-elegirnos.orange.font-weight-bol Construimos tus ideas
                <p class="text-justify">De seguro tienes muchas 
                  span.font-weight-bold ideas 
                  |sobre grandes 
                  span.font-weight-bold negocios 
                  |que quieres volver 
                  span.font-weight-bold realidad, 
                  |sin embargo, no estas seguro/a de como hacerlo. 
                  span.font-weight-bold Conectate 
                  |con 
                  span.font-weight-bold nosotros 
                  y juntos haremos que se 
                  span.font-weight-bold vuelvan realidad.</p>                          
              </div>
            </div>                       
          .col-md-4
            <div class="card mb-4 pb-4">
              <div class="card-body">
                span.font-awesome-icon
                  img(src="./img/nos-volvemos-tus-fans.svg", alt="sol social media Guayaquil, conseguir fans").img-fluid
                  h4.text-elegirnos.orange.font-weight-bol Nos volvemos tus fans
                <p class="text-justify pb-4">Nos 
                  span.font-weight-bold convertimos 
                  |en grandes 
                  span.font-weight-bold fans 
                  |de tu 
                  span.font-weight-bold marca, 
                  |así demostramos nuestro 
                  span.font-weight-bold compromiso 
                  |con tus 
                  span.font-weight-bold objetivos. 
                  |Somos un equipo 
                  span.font-weight-bold apasionado y arriesgado 
                  |buscando 
                  span.font-weight-bold crecer 
                  |junto a 
                  span.font-weight-bold nuestros clientes.</p>
              </div>
            </div>                        
          