.container-fluid
  .section        
    h5.text-center.font-weight-bold ¿Qué nos diferencia?
    h2.title.text-center.text-gradient-secondary ¿Por qué elegirnos?
    .container.sub-section 
      .row.text-center
          .col-md-4
            <div class="card mb-4">
              <div class="card-body">
                span.font-awesome-icon
                  img(src="./img/potenciamos-tu-marca.svg", alt="ilustración cohete espacial, potenciar mi marca").img-fluid
                  h4.text-elegirnos Potenciamos tu marca
                p.text-justify La marca es el espiritú de un negocio, su identidad. 
                p.text-justify.pb-2 Nos encargamos de posicionar y potenciar tú marca en el entorno digital, hacemos que tus clientes te encuentren y te prefieran.
              </div>
            </div>  
          .col-md-4
            <div class="card mb-4">
              <div class="card-body">
                span.font-awesome-icon
                  img(src="./img/construimos-tu-marca.svg", alt="ilustración de construcción de cohete espacial, construccir una marca").img-fluid
                  h4.text-elegirnos Construimos tus ideas
                <p class="text-justify">De seguro tienes muchas ideas sobre grandes negocios que quieres volver realidad, sin embargo, no estas seguro/a de como hacerlo. Conectate con nosotros y juntos haremos que se vuelvan realidad.</p>                          
              </div>
            </div>                       
          .col-md-4
            <div class="card mb-4">
              <div class="card-body">
                span.font-awesome-icon
                  img(src="./img/nos-volvemos-tus-fans.svg", alt="ilustración de sol, conseguir fans con social media").img-fluid
                  h4.text-elegirnos Nos volvemos tus fans
                <p class="text-justify pb-4">Nos convertimos en grandes fans de tu marca, así demostramos nuestro compromiso con tus objetivos. Somos un equipo apasionado y arriesgado buscando crecer junto a nuestros clientes.</p>
              </div>
            </div>                        
          