.section
    .container-fluid
        .row
            .col-md-12
                img(src="img/footer3.svg", alt="").img-fluid
                .container-fluid.footer-texto
                    .row
                        .offset-1.col-lg-4.text-center.text-white
                            script.
                                document.write('@' + new Date().getFullYear() + ' ')
                            |Qmart - Estudio Creativo
                        .col-lg-6.text-center.text-white.d-none.d-lg-block
                            a(href="/").text-white.menu-footer Inicio 
                            a(href="#nosotros").text-white.menu-footer Sobre Nosotros 
                            a(href="#servicios").text-white.menu-footer Servicios 
                            a(href="#portafolio").text-white.menu-footer Portafolio 
                            a(href="#contacto").text-white.menu-footer Contacto 