.container-fluid.top-section
    .row
        img(src="img/header.png").img-fluid.header-img.float-right.d-none.d-lg-block
        div.offset-lg-1.col-lg-5.header-text
            h1.texto-degradado.titulo.text-center.text-lg-left Qmart
            h1.titulo.text-center.text-lg-left
                span Estudio Creativo
            img(src="img/header2.png").img-fluid.d-block.d-lg-none.img-cohete.mr-auto.ml-auto
            .texto.text-justify En Qmart, te ayudamos a comunicar la esencia de tú negocio por medio del marketing, el diseño y las buenas prácticas. Aportamos soluciones creativas y funcionales para hacer crecer la presencia de tu marca en los medios digitales.
            div.text-center.text-lg-left.inline.d-none.d-lg-block
                a(href="#nosotros")
                        button.btn.btn-primario.btn-link.btn-lg.text-white
                            span.btn-text Comenzar  
                            <i class="fas fa-angle-down"></i>