.container-fluid.top-section
    .row    
        img(src="img/header.png").img-fluid.header-img.d-none.d-lg-block.float-right
        div.offset-lg-1.col-lg-5.header-text
            h1.text-gradient.title.text-center.text-lg-left.d-none.d-lg-block Qmart
            h1.title.text-center.text-lg-left.d-block.d-lg-none Qmart
            h1.title.text-center.text-lg-left
                span Estudio Creativo
            img(src="img/header2.png").img-fluid.d-block.d-lg-none.img-cohete.mr-auto.ml-auto
            .text.text-justify En el estudio Qmart te ayudamos a comunicar la esencia de tú negocio por medio del marketing, el diseño y las buenas prácticas. Aportamos soluciones creativas y funcionales para hacer crecer la presencia de tu marca en los medios digitales.
            .row
                div.text-center.text-lg-left.d-none.d-lg-block.col-lg-4
                    a(href="#nosotros")
                        button.btn.btn-raised.btn-warning.btn-lg.btn-gradient
                            span.btn-text Conócenos
                div.text-center.text-lg-left.d-none.d-lg-block.col-lg-4
                    a(href="#nosotros")
                        button.btn.btn-raised.btn-warning.btn-lg.btn-gradient
                            span.btn-text Contacto