.container.top-section
  .row    
    .col-md-12
      .header-text        
        h5.title.text-center.d-none.d-md-block.text-center Conócenos
        h5.title.text-center.d-block.d-md-none.top-section-mobile Conócenos
        h2.title.text-center.text-gradient-secondary
          span Estudio Creativo Qmart       
    .col-md-7.text
      .text-justify.mb-4 Nos gustaria trabajar cotigo en tu siguiente proyecto y sabemos muy bien lo importante que es la confianza dentro de un equipo de trabajo, así que es necesario que nos conozcamos mejor. Vamos a Comenzar hablando un poco sobre nosotros:
      .text-justify Somos un estudio creativo independiente, estamos conformados por apasionados del marketing y la comunicación. El estudio nace de la idea de brindar apoyo a emprendedores y pymes para que puedan destacar en el ya congestionado mundo digital a través de un servicio de calidad, ajustandonos a su presupuesto.
    .col-md-5.text
      img(src="./img/logo-estudio-creativo-qmart.svg", alt="")