.section#instagram
  h5.text-center.font-weight-bold Instagram
  h2.title.text-center.text-gradient-secondary Galería
  .container
    .row.sub-section.d-none.d-md-block
      <script src="https://snapwidget.com/js/snapwidget.js"></script>
      <iframe src="https://snapwidget.com/embed/633672" class="snapwidget-widget" allowtransparency="false" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; "></iframe>
    .row.sub-section.d-block.d-md-none
      <script src="https://snapwidget.com/js/snapwidget.js"></script>
      <iframe src="https://snapwidget.com/embed/684603" class="snapwidget-widget" allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; "></iframe>            
        