.section#portafolio
    h2.titulo.text-center.texto-degradado Portafolio
    .container
        .row.sub-section
          .owl-carousel
            div
              img(src="img/galacaminos.png", alt="")
            div
              img(src="img/historia.png", alt="")
            div
              img(src="img/sencillo-liberate.png", alt="")
            div
              img(src="img/conferencia-iglesia-saludable.png", alt="")
            div
              img(src="img/socialmediapost.png", alt="")