.section#portafolio
  h5.text-center.font-weight-bold Portafolio
  h2.title.text-center.text-gradient-secondary Nuestros Proyectos
  .container.d-none.d-lg-block
    .row.sub-section
      .owl-carousel
        div.hover-blur
          a(href="diseno-de-interface-web-galapagos.html" rel="modal:open")
            img(src="img/diseno-de-interface-web-galapagos.webp", alt="Diseño web turistmo Galápagos-Ecuador")                    
            h4 
              span.text-white.font-weight-bold.text-center Galápagos Travel
              img(src="img/logo-estudio-creativo-qmart-blanco.svg", alt="Logo qmart estudio creativo Guayaquil").img-fluid.img-portafolio
            p.text-white Diseño Web      
        div.hover-blur
          a(href="sencillo-liberate-aaron-fernandez.html" rel="modal:open")
            img(src="img/sencillo-liberate.webp", alt="Diseño gráfico sencillo Liberate - Aaron Fernandez")
            h4 
              span.text-white.font-weight-bold.text-center Liberate
              img(src="img/logo-estudio-creativo-qmart-blanco.svg", alt="Logo qmart estudio creativo Guayaquil").img-fluid.img-portafolio
            p.text-white Diseño gráfico
        div.hover-blur
          a(href="sitio-web-hostec-hostingydominios.html" rel="modal:open")
            img(src="img/sitio-web-hostingydominios.webp", alt="Diseño web hosting y dominios Guayaquil-Ecuador")
            h4 
              span.text-white.font-weight-bold.text-center Hostec - Hosting y Dominios
              img(src="img/logo-estudio-creativo-qmart-blanco.svg", alt="Logo qmart estudio creativo Guayaquil").img-fluid.img-portafolio
            p.text-white Diseño web
        div.hover-blur
          a(href="social-media-post-aaron-fernandez.html" rel="modal:open")
            img(src="img/social-media-post-aaron-fernandez.webp", alt="Campaña de social media - Aaron Fernandez")
            h4 
              span.text-white.font-weight-bold.text-center Aaron Fernandez
              img(src="img/logo-estudio-creativo-qmart-blanco.svg", alt="Logo qmart estudio creativo Guayaquil").img-fluid.img-portafolio
            p.text-white Social media 
        div.hover-blur
          a(href="sitio-web-qmart-estudio-creativo.html" rel="modal:open")
            img(src="img/sitio-web-estudio-creativo-qmart.webp", alt="Diseño web estudio creativo Guayaquil")
            h4 
              span.text-white.font-weight-bold.text-center Qmart - Estudio Creativo
              img(src="img/logo-estudio-creativo-qmart-blanco.svg", alt="Logo qmart estudio creativo Guayaquil").img-fluid.img-portafolio
            p.text-white Diseño Web
  .container.d-block.d-lg-none
    .row.sub-section          
        div.hover-blur
          a(href="diseno-de-interface-web-galapagos.html" rel="modal:open")
            img(src="img/diseno-de-interface-web-galapagos.webp", alt="Diseño web turistmo Galápagos-Ecuador")                    
            h4 
              span.text-white.font-weight-bold.text-center Galápagos Travel
              img(src="img/logo-estudio-creativo-qmart-blanco.svg", alt="Logo qmart estudio creativo Guayaquil").img-fluid.img-portafolio.pl-portafolio
            p.text-white Diseño Web      
        div.hover-blur
          a(href="sencillo-liberate-aaron-fernandez.html" rel="modal:open")
            img(src="img/sencillo-liberate.webp", alt="Diseño gráfico sencillo Liberate - Aaron Fernandez")
            h4 
              span.text-white.font-weight-bold.text-center Liberate
              img(src="img/logo-estudio-creativo-qmart-blanco.svg", alt="Logo qmart estudio creativo Guayaquil").img-fluid.img-portafolio.pl-portafolio
            p.text-white Diseño gráfico
        div.hover-blur
          a(href="sitio-web-hostec-hostingydominios.html" rel="modal:open")
            img(src="img/sitio-web-hostingydominios.webp", alt="Diseño web hosting y dominios Guayaquil-Ecuador")
            h4 
              span.text-white.font-weight-bold.text-center Hostec - Hosting y Dominios
              img(src="img/logo-estudio-creativo-qmart-blanco.svg", alt="Logo qmart estudio creativo Guayaquil").img-fluid.img-portafolio.pl-portafolio
            p.text-white Diseño web
        div.hover-blur
          a(href="sitio-web-qmart-estudio-creativo.html" rel="modal:open")
            img(src="img/sitio-web-estudio-creativo-qmart.webp", alt="Diseño web estudio creativo Guayaquil")
            h4 
              span.text-white.font-weight-bold.text-center Qmart - Estudio Creativo
              img(src="img/logo-estudio-creativo-qmart-blanco.svg", alt="Logo qmart estudio creativo Guayaquil").img-fluid.img-portafolio.pl-portafolio
            p.text-white Diseño Web
        div.hover-blur
          a(href="social-media-post-aaron-fernandez.html" rel="modal:open")
            img(src="img/social-media-post-aaron-fernandez.webp", alt="Campaña de social media - Aaron Fernandez")
            h4 
              span.text-white.font-weight-bold.text-center Aaron Fernandez
              img(src="img/logo-estudio-creativo-qmart-blanco.svg", alt="Logo qmart estudio creativo Guayaquil").img-fluid.img-portafolio.pl-portafolio
            p.text-white Social media 