.section#portafolio
  h5.text-center.font-weight-bold Portafolio
  h2.title.text-center.text-gradient-secondary Nuestros Proyectos
  .container.d-none.d-lg-block
    .row.sub-section
      .owl-carousel
        div.hover-blur
          a(href="#")
            img(src="img/galacaminos.png", alt="")                    
            h4 
              span.text-white.font-weight-bold.text-center Sitio web Galapagos
              img(src="img/logo-white.svg", alt="").img-fluid.img-portafolio
            p.text-white Diseño de interface
        div.hover-blur
          a(href="#")
            img(src="img/historia.png", alt="")
            h4 
              span.text-white.font-weight-bold.text-center Historia mundial
              img(src="img/logo-white.svg", alt="").img-fluid.img-portafolio
            p.text-white Aplicación de escritorio
        div.hover-blur
          a(href="#")
            img(src="img/sencillo-liberate.png", alt="")
            h4 
              span.text-white.font-weight-bold.text-center Liberate
              img(src="img/logo-white.svg", alt="").img-fluid.img-portafolio
            p.text-white Lanzamiento de sencillo
        div.hover-blur
          a(href="#")
            img(src="img/socialmediapost.png", alt="")
            h4 
              span.text-white.font-weight-bold.text-center Aaron Fernandez
              img(src="img/logo-white.svg", alt="").img-fluid.img-portafolio
            p.text-white Campaña de social media 
  .container.d-block.d-lg-none
    .row.sub-section          
      div.hover-blur
        a(href="#")
          img(src="img/galacaminos.png", alt="")                    
          h4 
            span.text-white.font-weight-bold.text-center Sitio web Galapagos
            img(src="img/logo-white.svg", alt="").img-fluid.img-portafolio.pl-portafolio
          p.text-white Diseño de interface
      div.hover-blur
        a(href="#")
          img(src="img/historia.png", alt="")
          h4 
            span.text-white.font-weight-bold.text-center Historia mundial
            img(src="img/logo-white.svg", alt="").img-fluid.img-portafolio.pl-portafolio
          p.text-white Aplicación de escritorio
      div.hover-blur
        a(href="#")
          img(src="img/sencillo-liberate.png", alt="")
          h4 
            span.text-white.font-weight-bold.text-center Sencillo Liberate
            img(src="img/logo-white.svg", alt="").img-fluid.img-portafolio.pl-portafolio
          p.text-white Campaña de sencillo
      div.hover-blur
        a(href="#")
          img(src="img/socialmediapost.png", alt="")
          h4 
            span.text-white.font-weight-bold.text-center Aaron Fernandez
            img(src="img/logo-white.svg", alt="").img-fluid.img-portafolio.pl-portafolio
          p.text-white Campaña de social media 
  