.section#portafolio
  h5.text-center.font-weight-bold Portafolio
  h2.title.text-center.text-gradient-secondary Nuestros Proyectos
  .container.d-none.d-lg-block
    .row.sub-section
      .owl-carousel
        div.hover-blur
          a(href="diseno-de-interface-web-galapagos.html" rel="modal:open")
            img(src="img/diseno-de-interface-web-galapagos.webp", alt="Diseño de interface para sitio web para turismo en Galapagos-Ecuador")                    
            h4 
              span.text-white.font-weight-bold.text-center Galápagos Travel
              img(src="img/logo-estudio-creativo-qmart-blanco.svg", alt="Logo estudio creativo qmart").img-fluid.img-portafolio
            p.text-white Diseño Web      
        div.hover-blur
          a(href="sencillo-liberate-aaron-fernandez.html" rel="modal:open")
            img(src="img/sencillo-liberate.webp", alt="Liberate - Aaron Fernandez")
            h4 
              span.text-white.font-weight-bold.text-center Liberate
              img(src="img/logo-estudio-creativo-qmart-blanco.svg", alt="Logo estudio creativo qmart").img-fluid.img-portafolio
            p.text-white Lanzamiento de sencillo
        div.hover-blur
          a(href="sitio-web-hostec-hostingydominios.html" rel="modal:open")
            img(src="img/sitio-web-hostingydominios.webp", alt="Diseño de sitio web dedicado a la venta de hosting y dominios")
            h4 
              span.text-white.font-weight-bold.text-center Hostec - Hosting y Dominios
              img(src="img/logo-estudio-creativo-qmart-blanco.svg", alt="Logo estudio creativo qmart").img-fluid.img-portafolio
            p.text-white Diseño de sitio web
        div.hover-blur
          a(href="social-media-post-aaron-fernandez.html" rel="modal:open")
            img(src="img/social-media-post-aaron-fernandez.webp", alt="Campaña de social media - Aaron Fernandez")
            h4 
              span.text-white.font-weight-bold.text-center Aaron Fernandez
              img(src="img/logo-estudio-creativo-qmart-blanco.svg", alt="Logo estudio creativo qmart").img-fluid.img-portafolio
            p.text-white Campaña de social media 
        div.hover-blur
          a(href="sitio-web-qmart-estudio-creativo.html" rel="modal:open")
            img(src="img/sitio-web-estudio-creativo-qmart.webp", alt="Diseño de landing page de estudio creativo")
            h4 
              span.text-white.font-weight-bold.text-center Qmart - Estudio Creativo
              img(src="img/logo-estudio-creativo-qmart-blanco.svg", alt="Logo estudio creativo qmart").img-fluid.img-portafolio
            p.text-white Landing Page
  .container.d-block.d-lg-none
    .row.sub-section          
        div.hover-blur
          a(href="diseno-de-interface-web-galapagos.html" rel="modal:open")
            img(src="img/diseno-de-interface-web-galapagos.webp", alt="Diseño de interface para sitio web para turismo en Galapagos-Ecuador")                    
            h4 
              span.text-white.font-weight-bold.text-center Galápagos Travel
              img(src="img/logo-estudio-creativo-qmart-blanco.svg", alt="Logo estudio creativo qmart").img-fluid.img-portafolio.pl-portafolio
            p.text-white Diseño Web      
        div.hover-blur
          a(href="sencillo-liberate-aaron-fernandez.html" rel="modal:open")
            img(src="img/sencillo-liberate.webp", alt="Liberate - Aaron Fernandez")
            h4 
              span.text-white.font-weight-bold.text-center Liberate
              img(src="img/logo-estudio-creativo-qmart-blanco.svg", alt="Logo estudio creativo qmart").img-fluid.img-portafolio.pl-portafolio
            p.text-white Lanzamiento de sencillo
        div.hover-blur
          a(href="sitio-web-hostec-hostingydominios.html" rel="modal:open")
            img(src="img/sitio-web-hostingydominios.webp", alt="Diseño de sitio web dedicado a la venta de hosting y dominios")
            h4 
              span.text-white.font-weight-bold.text-center Hostec - Hosting y Dominios
              img(src="img/logo-estudio-creativo-qmart-blanco.svg", alt="Logo estudio creativo qmart").img-fluid.img-portafolio.pl-portafolio
            p.text-white Diseño de sitio web
        div.hover-blur
          a(href="social-media-post-aaron-fernandez.html" rel="modal:open")
            img(src="img/social-media-post-aaron-fernandez.webp", alt="Campaña de social media - Aaron Fernandez")
            h4 
              span.text-white.font-weight-bold.text-center Aaron Fernandez
              img(src="img/logo-estudio-creativo-qmart-blanco.svg", alt="Logo estudio creativo qmart").img-fluid.img-portafolio.pl-portafolio
            p.text-white Campaña de social media 
        div.hover-blur
          a(href="sitio-web-qmart-estudio-creativo.html" rel="modal:open")
            img(src="img/sitio-web-estudio-creativo-qmart.webp", alt="Diseño de landing page de estudio creativo")
            h4 
              span.text-white.font-weight-bold.text-center Qmart - Estudio Creativo
              img(src="img/logo-estudio-creativo-qmart-blanco.svg", alt="Logo estudio creativo qmart").img-fluid.img-portafolio.pl-portafolio
            p.text-white Landing Page