.section#servicios    
    .container
        h5.text-center.font-weight-bold Nuestros Servicios
        h2.title.text-center.text-gradient-secondary Servicios que ofrecemos        
        .row.sub-section            
            .col-lg-6                
                .text-section
                    .text-vertical-center
                        h3.title.text-center Social Media
                        img(src="img/social-media.svg", alt="auto" width="100%").img-fluid.d-block.d-block.d-lg-none.mr-auto.ml-auto.img-min
                        .text-justify.text-servicios  Aumentamos tu expocisión en los 
                            span.font-weight-bold medios digitales 
                            |para que puedas llegar a tú público objetivo y aumentar 
                            span.font-weight-bold la captación de clientes 
                            |mediante la creación y aplicación de una 
                            span.font-weight-bold estrategia de markekting personalizada.                        
                        div.text-center
                            a(href="socialmedia.html")
                                button.btn.btn-raised.btn-lg.btn-gradient-section
                                    span.btn-text Ver más...                
            .col-lg-6
                img(src="img/social-media.svg", alt="" width="800").img-fluid.d-none.d-lg-block
        .row.sub-section
            .col-lg-6
                img(src="img/diseno-web.svg", alt="" width="800").img-fluid.d-none.d-lg-block
            .col-lg-6                
                .text-section
                    .text-vertical-center
                        h3.title.text-center Desarrollo Web
                        img(src="img/diseno-web.svg", alt="" width="800").img-fluid.d-block.d-block.d-lg-none.img-servicios.mr-auto.ml-auto.img-min
                        .text-justify.text-servicios Un sitio web es una potente herramienta de 
                            span.font-weight-bold captacion de clientes 
                            |y posicionamiento de una empresa. Llevamos tu                             
                            span.font-weight-bold negocio 
                            |a otro nivel.  
                            span.font-weight-bold Diseñamos y desarrollamos 
                            |tu sitio web, tienda virtual(e-comerce) y aplicación web o móvil, 
                            span.font-weight-bold según tus necesidades.
                        div.text-center
                            a(href="desarrolloweb.html")
                                button.btn.btn-raised.btn-lg.btn-gradient-section
                                    span.btn-text Ver más...
        .row.sub-section
            .col-lg-6                
                .text-section
                    .text-vertical-center
                        h3.title.text-center Diseño Gráfico
                        img(src="img/diseno-grafico.svg", alt="" width="800").img-fluid.d-block.d-block.d-lg-none.img-servicios.mr-auto.ml-auto.img-min
                        .text-justify.text-servicios Te ayudamos a tener mayor expocisión en los medios digitales, llegar a tú público objetivo y aumentar la captación de clientes mediante la creación y aplicación de una estrategia personalizada.
                        div.text-center
                            a(href="disenografico.html")
                                button.btn.btn-raised.btn-lg.btn-gradient-section
                                    span.btn-text Ver más...
            .col-lg-6
                img(src="img/diseno-grafico.svg", alt="" width="800").img-fluid.d-none.d-lg-block