.section#servicios    
    .container
        h5.text-center.font-weight-bold Nuestros Servicios
        h2.title.text-center.text-gradient-secondary Servicios que ofrecemos        
        .row.sub-section            
            .col-lg-6                
                .text-section
                    .text-vertical-center.mt-4.pt-4
                        h3.title.text-center Social Media
                        img(src="img/social-media.svg", alt="ilustración de social media en universo" width="100%").img-fluid.d-block.d-block.d-lg-none.mr-auto.ml-auto.img-min
                        .text-justify.text-servicios  Aumentamos tu exposición en los 
                            span.font-weight-bold medios digitales 
                            |para que puedas llegar a tú público objetivo y aumentar 
                            span.font-weight-bold la captación de clientes 
                            |mediante la creación y aplicación de una 
                            span.font-weight-bold estrategia de marketing personalizada.                        
          
            .col-lg-6
                img(src="img/social-media.svg", alt="ilustración de social media en universo" width="800").img-fluid.d-none.d-lg-block
        .row.sub-section
            .col-lg-6
                img(src="img/diseno-web.svg", alt="ilustración de desarrollo web en universo" width="800").img-fluid.d-none.d-lg-block
            .col-lg-6                
                .text-section
                    .text-vertical-center.mt-4.pt-4
                        h3.title.text-center Desarrollo Web
                        img(src="img/diseno-web.svg", alt="" width="800").img-fluid.d-block.d-block.d-lg-none.img-servicios.mr-auto.ml-auto.img-min
                        .text-justify.text-servicios Un sitio web es una potente herramienta de 
                            span.font-weight-bold captación de clientes 
                            |y posicionamiento de una empresa. Llevamos tu                             
                            span.font-weight-bold negocio 
                            |a otro nivel.  
                            span.font-weight-bold Diseñamos y desarrollamos 
                            |tu sitio web, tienda virtual(e-comerce) y aplicación web o móvil, 
                            span.font-weight-bold según tus necesidades.

        .row.sub-section
            .col-lg-6                
                .text-section
                    .text-vertical-center.mt-4.pt-4
                        h3.title.text-center Diseño Gráfico
                        img(src="img/diseno-grafico.svg", alt="ilustración de diseño gráfico (adobe) en universo" width="800").img-fluid.d-block.d-block.d-lg-none.img-servicios.mr-auto.ml-auto.img-min
                        .text-justify.text-servicios Construimos la 
                            span.font-weight-bold identidad visual 
                            |de tu marca. Nos gusta 
                            span.font-weight-bold contar una historia 
                            |a través de los elementos que forman parte de la identidad de marca. De esta manera, todos 
                            span.font-weight-bold sabran quien eres 
                            |y lo que haces.

            .col-lg-6
                img(src="img/diseno-grafico.svg", alt="ilustración de diseño gráfico (adobe) en universo" width="800").img-fluid.d-none.d-lg-block