.section#servicios
    h2.titulo.text-center.texto-degradado Servicios
    .container
        .row.sub-section
            .col-lg-6
                img(src="img/social-media.svg", alt="" width="800").img-fluid.d-block.d-block.d-lg-none.img-servicios.mr-auto.ml-auto
                .texto-section
                    h3.titulo.text-center Social 
                        span Media
                    .texto-satelite.text-justify.texto-servicios Te ayudamos a tener mayor expocisión en los medios digitales, llegar a tú público objetivo y aumentar la captación de clientes mediante la creación y aplicación de una estrategia personalizada.
                    div.text-center
                        a(href="socialmedia.html")
                            button.btn.btn-primario.btn-link.btn-lg.text-white
                                span.btn-text Ver más...
            .col-lg-6
                img(src="img/social-media.svg", alt="" width="800").img-fluid.d-none.d-lg-block
        .row.sub-section
            .col-lg-6
                img(src="img/diseno-web.svg", alt="" width="800").img-fluid.d-none.d-lg-block
            .col-lg-6
                img(src="img/diseno-web.svg", alt="" width="800").img-fluid.d-block.d-block.d-lg-none.img-servicios.mr-auto.ml-auto
                .texto-section
                    h3.titulo.text-center Desarrollo 
                        span Web
                    .texto-satelite.text-justify.texto-servicios Llevamos tu negocio a otro nivel. Diseñamos y desarrollamos tu sitio web, tienda virtual(e-comerce) y aplicación web o móvil, según tus necesidades.
                    div.text-center
                        a(href="desarrolloweb.html")
                            button.btn.btn-primario.btn-link.btn-lg.text-white
                                span.btn-text Ver más...
        .row.sub-section
            .col-lg-6
                img(src="img/diseno-grafico.svg", alt="" width="800").img-fluid.d-block.d-block.d-lg-none.img-servicios.mr-auto.ml-auto
                .texto-section
                    h3.titulo.text-center Diseño 
                        span Gráfico
                    .texto-satelite.text-justify.texto-servicios Te ayudamos a tener mayor expocisión en los medios digitales, llegar a tú público objetivo y aumentar la captación de clientes mediante la creación y aplicación de una estrategia personalizada.
                    div.text-center
                        a(href="disenografico.html")
                            button.btn.btn-primario.btn-link.btn-lg.text-white
                                span.btn-text Ver más...
            .col-lg-6
                img(src="img/diseno-grafico.svg", alt="" width="800").img-fluid.d-none.d-lg-block