<aside class="social-sharing">
	<ul class="menu-social">		
		<li class="social-item"><a href="https://wa.me/593967348636" target="_blank"  data-toggle="tooltip" data-placement="right" title="Dejanos un mensaje y te atenderemos con gusto"  id="ws"><img src="img/logo-whatsaap.webp" alt="Logo de whatsapp" class="logo-w"></a></li>		
	</ul>
</aside>