.container-fluid#nosotros
    .row.section
        .col-lg-5.col-xl-4.hidden-sm-down
            img(src="img/satelite.png", alt="" width="800").img-fluid.satelite.d-none.d-lg-block
            h4.titulo.text-center.texto-degradado.d-block.d-lg-none Creamos Experiencias Increibles
            img(src="img/satelite2.png", alt="" width="800").img-fluid.d-block.d-block.d-lg-none.img-cohete.mr-auto.ml-auto
        .col-lg-7.col-xl-8
            .texto-section
                h4.titulo.text-center.texto-degradado.d-none.d-lg-block Creamos Experiencias Increibles
                .texto-satelite.text-justify El estudio creativo 
                    span.naranja Qmart 
                    |nace con la finalidad de ayudar a 
                    span.naranja crecer 
                    |a pymes y 
                    span.naranja emprendedores 
                    |en el mundo digital, a través de 
                    span.naranja planificaciones estratégicas
                    |, mucha creatividad y trabajo en equipo. Uno de los objetivos principales del estudio es 
                    span.naranja ayudar 
                    |a nuestros clientes a dinamizar y 
                    span.naranja fortalecer 
                    |sus canales de comunicación, captación de clientes y 
                    span.naranja ventas 
                    | en linea.