.container-fluid#nosotros
    .row.section
        .col-md-5.col-xl-4.hidden-sm-down
            img(src="img/satelite.svg", alt="" width="800").img-fluid.satelite.d-none.d-md-block
            h4.title.text-center.text-gradient-secondary.d-block.d-md-none Creamos Experiencias Increibles
            img(src="img/satelite2.png", alt="" width="800").img-fluid.d-block.d-block.d-md-none.img-cohete.mr-auto.ml-auto.img-min
        .col-md-7.satelite-section
            .text-section
                .text-vertical-center
                    h3.title.title-section.text-center.text-gradient-secondary.d-none.d-md-block Creamos Experiencias Increibles                
                    p.text-justify Nuestra meta es ayudar a 
                        span.orange crecer 
                        |a pymes y 
                        span.orange emprendedores 
                        |en el mundo digital, a través de 
                        span.orange planificaciones estratégicas,
                        |mucha creatividad y trabajo en equipo. 
                    p.text-justify Nuestro objetivo principal  es 
                        |dinamizar y 
                        span.orange fortalecer 
                        |los canales de comunicación, captación de clientes y 
                        span.orange ventas 
                        |en linea de nuestros clientes.                    
                    p.text-justify Conocemos la fórmula del 
                        span.orange exito 
                        |para tu negocio, no somos un 
                        span.orange estudio creativo 
                        |más, somos el estudio que 
                        span.orange necesitas.