.container-fluid.bg-gradient
    .section
        .sub-section.elegirnos-space
            h5.text-center.text-white.mt-4.font-weight-bold Workflow
            h2.title.text-center.text-white.title-elegirnos.mt-4.mb-3 Nuestro Flujo de Trabajo
            .container
                .row.mt-4.pt-4.text-center.text-white
                    .col-xs-6.col-md-3
                        span.font-awesome-icon
                            <i class="fas fa-search" alt="investigación de mercado Guayaquil"></i>
                            h5.text-elegirnos Investigación
                    .col-xs-6.col-md-3
                        span.font-awesome-icon
                            <i class="fas fa-chess" alt="Planificación de campañas digitales Guayaquil"></i>
                            h5.text-elegirnos Planificación
                    .col-xs-6.col-md-3
                        span.font-awesome-icon
                            <i class="fas fa-burn" alt="Optimización Web Guayaquil"></i>
                            h5.text-elegirnos Optimización
                    .col-xs-6.col-md-3
                        span.font-awesome-icon
                            <i class="fas fa-poll" alt="Consigue los mejores resultados Guayaquil"></i>
                            h5.text-elegirnos Resultados