body{
  box-sizing: border-box;
  font-family: var(--main-font), var(--alternate-font);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  color: var(--font-color);
  background-color: var(--bg-color);  
  overflow-x: hidden;
}

*,
*:after,
*:before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

a{
  font-weight: bold;
  text-decoration: none;
  color: var(--link-color); 
  transition: all .3s ease-out;

  &:hover { 
    color: var(--link-hover-color); 
    text-decoration: none;
  }
}

img{
  max-width: 100%;
  width: 100%;
  height: auto;
}