@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800|Raleway:300,400,500');

:root{
  --main-font: 'Raleway';
  --alternate-font: 'Sans-serif';
  --secondary-font: 'Open sans';
  --font-size: 14px;
  --font-weight: 500;
  --line-height: 2;
  --letter-spacing: 3px;
 
  --main-color: #fff;
  --main-modal-color: rgb(165, 165, 165);
  
  --second-color: #FC4A1A;
  --second-color-gradient: -webkit-linear-gradient(to right,  #F7B733, #FC4A1A); 
  --second-color-gradient-old: linear-gradient(to right,  #F7B733, #FC4A1A); 

  --alternate-color: #211629;
  --alternate-color-gradient: -webkit-linear-gradient(to right, #453C8B, #211629);
  --alternate-color-gradient-old: linear-gradient(to right, #453C8B, #211629); 

  --bg-color: var(--main-color);
  --bg-alternate-color: var(--alternate-color-gradient);

  --text-color: #000;
  --text-hover-color: rgb(48, 48, 48);

  --link-color: var(--main-modal-color);
  --link-hover-color: var(--main-color);  
}