block config
    include ../config/config.pug
doctype html
html
    head
        title #{pageTitle} / #{siteTitle}
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        meta(name='description' content = description)
        link(rel="stylesheet", href="./css/font-awesome.min.css")
        link(rel="stylesheet", href="./css/owl.carousel.min.css")
        link(rel="stylesheet", href="./css/owl.theme.default.min.css")
        link(rel="stylesheet", href="./css/bootstrap-material-design.min.css")
        link(rel="stylesheet", href="./css/main.css")
    body
        header            
            include ../blocks/menu.pug

        main
            include ../blocks/header.pug
            
            
        footer            

        script(src="./js/jquery.min.js")
        script(src="./js/popper.min.js")
        script(src="./js/owl.carousel.min.js")
        script(src="./js/bootstrap-material-design.min.js")
        script(src="./js/main.js")