extends ../templates/template

block main      
  include ../blocks/balls.pug
  include ../blocks/menu.pug    
  include ../blocks/header.pug            
  include ../blocks/social-media.pug
  include ../blocks/somos.pug
  include ../blocks/elegirnos.pug
  include ../blocks/servicios.pug
  include ../blocks/workflow.pug
  include ../blocks/modal.pug
  include ../blocks/portafolio.pug
  include ../blocks/contacto.pug
  include ../blocks/instagram.pug    

block footer
  include ../blocks/footer.pug                     