.container-fluid.modal-section.sub-section
  h5.font-weight-bold.text-center Sitio Web
  h2.title.text-gradient-secondary.text-center Hostec
  img(src="img/hostec-web/hosting-web-page.webp", alt="").img-fluid.sub-section