.container-fluid.modal-section.sub-section
  h5.font-weight-bold.text-center Diseño Web
  h2.title.text-gradient-secondary.text-center Hostec - Hosting y Dominios
  img(src="img/hostec-web/hosting-web-page.webp", alt="paginas web hosting y dominios Guayaquil-Ecuador").img-fluid.sub-section