.container-fluid.modal-section.sub-section
  h5.font-weight-bold.text-center Aaron Fernandez
  h2.title.text-gradient-secondary.text-center Liberate
  img(src="img/liberate/liberate-portafolio.webp", alt="").img-fluid.sub-section