.container-fluid.modal-section.sub-section
  h5.font-weight-bold.text-center Dise침o gr치fico - Branding
  h2.title.text-gradient-secondary.text-center Liberate - Aaron Fernandez
  img(src="img/liberate/liberate-portafolio.webp", alt="Dise침o gr치fico sencillo cover Liberate - Aaron Fernandez").img-fluid.sub-section