.container-fluid.modal-section.sub-section
  h5.font-weight-bold.text-center Sitio Web
  h2.title.text-gradient-secondary.text-center Qmart - Estudio Creativo
  img(src="img/qmart-web/qmart-sitio-web-presentación-encabezado.webp", alt="Header páginas web estudio creativo Guayaquil").img-fluid.sub-section
  img(src="img/qmart-web/qmart-sitio-web-presentación-landing-page.webp", alt="Landing page páginas web estudio creativo Guayaquil").img-fluid
  img(src="img/qmart-web/qmart-sitio-web-presentación-elementos.webp", alt="elementos páginas web estudio creativo Guayaquil").img-fluid
  img(src="img/qmart-web/qmart-sitio-web-presentación-footer.webp", alt="footer páginas web estudio creativo Guayaquil").img-fluid