.container-fluid.modal-section.sub-section
  h5.font-weight-bold.text-center Sitio Web
  h2.title.text-gradient-secondary.text-center Qmart - Estudio Creativo
  img(src="img/qmart-web/qmart-sitio-web-presentaci贸n-encabezado.webp", alt="").img-fluid.sub-section
  img(src="img/qmart-web/qmart-sitio-web-presentaci贸n-landing-page.webp", alt="").img-fluid
  img(src="img/qmart-web/qmart-sitio-web-presentaci贸n-elementos.webp", alt="").img-fluid
  img(src="img/qmart-web/qmart-sitio-web-presentaci贸n-footer.webp", alt="").img-fluid