.container-fluid.modal-section.sub-section
  h5.font-weight-bold.text-center Sitio Web 
  h2.title.text-gradient-secondary.text-center Galápagos Travel
  img(src="img/galapagos/sitio-web-turismo-galapagos-1.webp", alt="").img-fluid.sub-section
  img(src="img/galapagos/sitio-web-turismo-galapagos-2.webp", alt="").img-fluid
  img(src="img/galapagos/sitio-web-turismo-galapagos-3.webp", alt="").img-fluid
  img(src="img/galapagos/sitio-web-turismo-galapagos-4.webp", alt="").img-fluid
  img(src="img/galapagos/sitio-web-turismo-galapagos-5.webp", alt="").img-fluid
  img(src="img/galapagos/sitio-web-turismo-galapagos-6.webp", alt="").img-fluid
  img(src="img/galapagos/sitio-web-turismo-galapagos-7.webp", alt="").img-fluid
  img(src="img/galapagos/sitio-web-turismo-galapagos-8.webp", alt="").img-fluid