.contact{
  position: relative;
  display: inline-block;   
}

.form-contact{
  position: absolute;
  top: 8%;
  left: 15%;  
  min-width: 80%;
  width: 80%;  
}

.container-img{
  margin-right: -40px;
}
