.title-elegirnos{
  margin-bottom: 5%;
}

.text-elegirnos{
  font-family: var(--secondary-font);
  font-size: .4em;
}

.elegirnos-space{
  padding-top: 5%;
  padding-bottom: 7%;
}


.font-awesome-icon{
  font-size: 3.5em;
  margin-top: 20%;
}

.fas:hover{
  @include main-gradient;    
  -webkit-background-clip: text;
  color: transparent; 
}