.navbar-nav{
  margin-right: 5%;
}

.navbar{
  box-shadow: none !important;
  z-index: 99 !important;
}

.nav-link{
  text-transform: none !important;
  color: var(--main-color) !important;
  font-weight: 550 !important;
  font-size: .8em !important;
  margin-left: 15px;
  letter-spacing: 4px !important;
  transition: all .3s ease-out;

  &:hover{
    color: var(--main-modal-color) !important;
    font-weight: 550 !important;
  }
}