

.navbar{  
  z-index: 99 !important;
}

.nav-link{
  text-transform: none !important;
  color: var(--text-color) !important;
  font-weight: 550 !important;
  font-size: 1em !important;
  margin-left: 15px;
  letter-spacing: 4px !important;
  transition: all .2s ease-out;

  &:hover{
    color: var(--second-color) !important;
    font-weight: 600 !important;
  }
}

@media (max-width: 575.98px) {
  .navbar-nav{
    margin-right: 0;
  }  
 }