.social-sharing {
	display: block;
	position: fixed;	
	left: 2%;
  bottom: 8%;  
  z-index: 999999999999999;  
}

.menu-social{
  list-style:none;
}

.social-item{
  width: 40%;
  text-decoration: none;
}