-pages = ['inicio', 'nosotros', 'servicios', 'portafolio', 'contacto']
-pageTitle = 'Inicio'
-currentPage = 'inicio'
-siteTitle = 'Qmart'
-description = 'Qmart, estudio creativo. Creamos experiencias incribles.'