-pages = ['inicio', 'nosotros', 'servicios', 'portafolio', 'contacto']
-currentPage = 'inicio'
-siteTitle = 'Qmart - Estudio Creativo'
-description = 'Qmart, estudio creativo. Creamos experiencias incribles.'